.idea
/includes/conf.inc.php

# Mac stuff
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows stuff
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
